<div id="legendaMapa" class="col-md-2">
    <ul class="raiz">
    </ul>
</div>
<div id="{$ID_MAPA}" class="map col-md-10">
    <div id="{$ID_MAPA}_gmap" class="fill"></div>
    <div id="{$ID_MAPA}_ol" class="fill"></div>
</div>
