/* 
    Document   : mapa
    Created on : 11/06/2013, 17:05:39
    Author     : Marcio Bigolin
    Description:
        Formatação básica de um mapa
*/
.map {
    padding: 0px;
}
    div.fill {
      width: 100%;
      height: 100%;
    }
        img.olTileImage {
        max-width: none;
    }
    
    #map img {
max-width: none;
}
    
.clear{
    clear:both;
}

/*Legenda*/
#legendaMapa {
    text-align:left;
    margin-left: -20px;
    padding: 0px !important;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    margin-top: 21px;
    overflow: auto;
    font-size:10px !important;
}

#legendaMapa ul{
    list-style: none;
    padding-bottom: 10px;
}

#legendaMapa ul li {
    color: #000099;
    background-repeat: no-repeat;
}

#legendaMapa ul li ul {
    margin-left: 10px;
}

#legendaMapa a:link, #menuVertical a:visited{
    color: #999999;
}

#legendaMapa a:hover{
    text-decoration: none;
}

#legendaMapa ul li ul li{
    color: #555555;
    display: block;
    margin-left: -10px;
    text-align: left;
    min-height: 21px;
    background-position: 16px 0px;
   
    padding-top: 5px;
}

#legendaMapa input{
    border: 0px;
    float: left;
    margin-top: 3px;
}

.balaoMapa{
    padding-left: 30px;
}

#opcoesMapa{
    overflow: auto;
    height: 500px;
}

.iconeMais{
    background-image: url("../imagens/mais.png");
}

.iconeMenos{
    background-image: url("../imagens/menos.png");
}

.iconeMais ul{
    display: none;
}

.clusterOption{
    font-size: 0.67em;
    border: 1px solid black;
    padding-left: 18px;
    width: 230px;
    margin: 5px;
}

.clusterOption .makeCluster{
    padding: 0px;
}

.clusterOption .makeCluster input{
    margin-right: 1px !important;
}

.camposRestricao{
    width: 100px;
    display: block;
    float: left;
    height: 40px;
}

.camposRestricao select{
    border: 1px solid #000;
    background-color: #fff;
    width: 98px;
}

.icone{
    width: 22px;
    height: 22px;
    display: block;
    float: left;
    background-size:22px;
}

#legendaMapa label{
    height: 22px;
    width: auto;
    font-weight: normal;
    display: block;
}

/* Loading do Mapa */
.olControlLoadingPanel {
    background-image:url(/js/componentes/maps/openLayers/theme/default/img/loading81.gif);
    position: absolute;
    width: 100%;
    height: 100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size: 50px 50px;
    display: none;
    background-color: #ccc;
    opacity: 0.8;
}

#sliderTransp0{
    width: 100px;
}

.transparencia{
    margin-left: 90px;
    margin-top: -26px;
}

.transparencia div{
    width: 100px;
}

.estiloCaixa{
    display: none;
}